@charset "UTF-8";
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  overflow: hidden;
}

html {
  background: url(./bg.jpg) no-repeat top left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#card {
  position: absolute;
  width: 40vh;
  height: 20vh;
  padding: 1vh;
  top: 6vh;
  right: 8vw;
  border-radius: 5px;
  /* margin-left: -250px; */
  /* background: #BFCEE1; */
  background: #C6CEE3;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

#gradient {
  /* position: absolute; */
  /* background: #999955; */
  /* background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%); */
  background-image: linear-gradient(#A3AEB4 20%, #BBD0E1 20%, #BBD0E1 40%, #63607D 40%, #63607D 60%, #403B41 60%, #403B41 80%, #1D1C21 80%);
  /* background: rgb(2,0,36); */
  /* background-image: linear-gradient(rgba(2,0,36,1) 20%, rgba(9,9,121,1) 20%,rgba(9,9,121,1) 40%,rgba(6,84,170,1) 40%, rgba(6,84,170,1) 60%, rgba(3,64,216,1) 60% rgba(3,64,216,1) 80%, rgba(0,212,255,1) 80%); */
  /* margin: 0 auto; */
  margin-top: 9vh;
  /* top: 9vh; */
  width: 100%;
  height: 16vh;
}

#gradient:after {
  content: "";
  position: absolute;
  background: #C6CEE3AA;
  /* background: #BFCEE1; */
  /* left: 50%; */
  /* margin-top: -67.5px;
  margin-left: -270px; */
  /* padding-left: 20px; */
  border-radius: 5px;
  /* margin-top: -2vh; */
  width: 42vh;
  height: 24vh;
  padding: 1vh;
  top: 4vh;
  right: 7.5vw;
  z-index: -1;
}

#card h1 {
  font-size: 3vh;
  /* color: #FFF; */
  color: #333;
  margin: 1vh;
  margin-top: 1.4vh;
  margin-bottom: 2vh
  /* padding: 0; */
}

#card h2 {
  font-size: 1.8vh;
  color: #333;
  /* color: #FFF; */
  margin: 1vh;
  margin-bottom: 3vh
  /* padding: 0; */
}

#card p{
  font-size: 1.6vh;
  color: #333;
  /* color: #FFF; */
  margin-left: 1vh;
  margin-bottom: 2vh
  /* padding: 0; */
}

#card a {
  font-size: 1.6vh;
  color: #333;
  /* color: #FFF; */
  /* padding: 0; */
}

#card img {
  width: 12vh;
  float: right;
  border-radius: 10%;
  margin-right: 8px;
  margin-top: 8px;
  /* -webkit-filter: sepia(0.5);
    -moz-filter: sepia(0.5);
    filter: sepia(0.5); */
}

.photo-wrapper {
  background-color: rgba(243, 246, 248, 0.94);
  box-shadow: inset 0px 1.5px 3px 0px rgba(0,0,0,0.15), 0px 1.5px 3px 0px rgba(0,0,0,0.15);
  border-radius: 49.9%;  
  width: 14vh;
  height: 14vh;
  float: right;
  /* border-radius: 50%; */
  margin-right: 10px;
  margin-right: 10px;
}

.center {
  text-align: center;
  margin-bottom: 1vh;
}

.topright {
  position: absolute;
  top: 6vh;
  right: 8vw;
}

.bottom {
  position: absolute;
  bottom: 2vh;
  left: 1vw;
  position: absolute;
  font-size: 1vh;
  color: darkgrey;
}